@import "tailwindcss";
@layer utilities {
  .bg-brand {
    background-color: #cad00f;
  }
  .text-brand {
    color: #cad00f;
  }
  .border-brand {
    border-color: #cad00f;
  }
  .text-doc {
    color: #cad00f;
  }
  .bg-cancel {
    background-color: #FF5050;
  }
}
